{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}
<!--Emplacement du titre et du slogan-->
    <div class="container center">
      <h1 class="titre">Bienvenue <span >{{ app.user.firstName|title }}</span> dans votre espace personnel.</h1>
      <div><img src="{{ asset(['images/artisticWorks/', app.user.avatar]|join) }}" class="images" alt="avatar"></div>
      <p class="font bleu">Vous êtes inscrit dans la &nbsp;(les) catégorie(s) suivante(s):</p>
      <p class="font"> 
        {% for categorie in app.user.categories %}
        {% if loop.first != true %}
        ,
        {% endif %}
          <td>{{ categorie.name }}</td>
        {% endfor %} </p>

       <p class="font bleu">A propos de vous: </p>
       <p class="font">{{ app.user.description2 }}</p>
    </div>
    
    <div class="center font">
  
    <a href="{{ path('gallery_index', {'id': app.user.id}) }}" class="btn btn-info placeho">Gérer vos galeries</a>
    <a href="{{ path('message_index', {'id': app.user.id}) }}" class="btn btn-info placeho"> Messagerie<div id="infoMess">{% for message in app.user.messages %}
      {% if loop.first != true %}
      ,
      {% endif %}
      {% if message %}
        {{ message.expediteur.firstName }}
       
      {% endif %}
    {% endfor %} </div></a>
    <a href="{{ path('user_edit', {'id': app.user.id}) }}" class="btn btn-info placeho">Modifier votre profil</a>

    </div>
<!--fin titre et slogan-->

<script>document.getElementById('inscription').style.display ='none';</script>
<script>document.getElementById('connexion').style.display ='none';</script>

 {% if  app.user.niveau == 2 %}
  <script>document.getElementById('admin').style.display ='block';</script>
 {% else %}
  <script>document.getElementById('admin').style.display ='none';</script>
{% endif %}
  <script>document.getElementById('pas_vu').style.display ='block';</script>
  <script>document.getElementById('deconnexion').style.display ='block';</script>
  <script>document.getElementById('espace_membre').style.display ='none';</script>
 {% endblock %}
