{% extends 'base.html.twig' %}

{% block title %}Modifier la galerie{% endblock %}

{% block body %}
<h1 class="center">Modifier la galerie</h1>
<br>
<div class="container font">
    <div class="container">
        {{ include('gallery/_form.html.twig', {'button_label': 'Modifier nom et/ou catégorie'}) }}   
     
        <a class="btn btn-info" href="{{ path('artistic_work_new', {'id': gallery.id}) }}">Ajouter une image</a>
        <a class="btn btn-primary" href="{{ path('gallery_index', {'id':app.user.id}) }}">Retour à la liste</a>
    </div>
    <br>
    <div class="container">
        <h3>Vos oeuvres</h3>
        {% for artisticWork in gallery.artisticWorks %}
            <p style="display:flex;"><img src="{{ asset(['images/artisticWorks/', artisticWork.picture]|join) }}"  style="width: 300px; height: auto;" alt="oeuvre"></p>
            <a class="btn btn-danger" href="{{ path('artistic_work_delete', {'id': artisticWork.id}) }}">Options de cette image</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
