{% extends 'base.html.twig' %}

{% block title %}Galerie de {{ gallery.user.firstName }}{% endblock %}

{% block body %}
<div class="container font">
    <h1 class="center">Galerie de {{ gallery.user.firstName|title }}</h1>
    
    <br>
        <div class="center fontDiv font_titres"> 
            <p><span class="bleu">Nom de la galerie: </span> {{ gallery.name|title }}</p>

            <p><span class="bleu">Catégorie: </span> {{ gallery.category }}</p>
        </div>
        <div class="center fontDiv font_titres">
                <p><span class="bleu">Oeuvres</span></p>
                <!-- l'array sur lequel je dois boucler c'est gallery.artisticWorks -->
                {% for artisticWork in gallery.artisticWorks %}
                    <p><img src=" {{ asset(['images/artisticWorks/', artisticWork.picture]|join) }} " class="images" ></p>
                    <p>{{ artisticWork.name|title }}:</p>
                    <p>{{ artisticWork.description }}</p>
                  
                {% endfor %}
        </div>
        <div class="center">
            <a class="btn btn-info placeho" href="{{ path('public_show', {'slug': gallery.user.slug}) }}">Voir son profil</a>
            <a class="btn btn-success placeho" href="{{ path('message_newUserMess', {'id': gallery.user.id}) }}">Envoyer un message</a>
        </div>
</div>
{% endblock %}
