<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="artiste, échange, art, galerie, peinture, modelage, dessin, sculpture, art numérique, photographie" />
        <title>{% block title %}L'avenue des artistes{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- CSS PERSO -->
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}"/>
        
        <!-- CSS ET JS BOOTSTRAP-->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
       {% block stylesheets %}{% endblock %}
       <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97383317-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-97383317-4');
	</script>

    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
       
        <div id="menu" class="nav_perso center header-nav">
             <!--burger-->
      
             <input id="burger" type="checkbox" />
             <label class="lab" for="burger">
                 <span></span>
                 <span></span>
                 <span></span>
             </label>
           
         <!--fin burger-->
                <a class="navbar-brand font" id="pas_vu" href="{{ path('home') }}"><span class="sea">Accueil</span></a>
            <nav class="navbar navbar-expand-lg navbar-default nav_a">
                
                <div class="center" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto center font">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('explain') }}"> Comment ça marche ?</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-store-alt black"></i> Galeries</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Dessin' }) }}">Dessin</a>
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Peinture'}) }}">Peinture</a>
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Sculpture'}) }}">Sculpture</a>
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Modelage'}) }}">Modelage</a>
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Art-numérique' }) }}">Art numérique</a>
                        <a class="dropdown-item liens" href="{{ path('gallery_category', {'slug': 'Photographie'}) }}">Photographie</a>
                    </div>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" id="admin" href="{{ path('admin_gestion') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-edit black"></i> Administration</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" id="inscription" href="{{ path('security_registration') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-door-open black"></i> Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="connexion" href="{{ path('security_login') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-in-alt black"></i> Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="espace_membre" href="{{ path('member') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-door-open black"></i> Votre espace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="deconnexion" href="{{ path('security_logout') }}" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt black"></i> Déconnexion</a>
                    </li>
                </ul>
                </div>
                </nav>
            </div>
        
       
         {% block body %}{% endblock %}
         <footer class="foot">
            <div id="mentions" class="jumbotron text-center font mentions" style="background-color:  grey">
                <p class=""><a href="{{ asset('images/CGU.pdf') }}">Mentions légales</a></p>
                <p><i class="far fa-envelope"></i><a href="{{ path('contact_us') }}"> Nous contacter</a></p>
                <h5 class="mentions">Retrouvez nous sur Facebook</h5>
                <ul style="list-style: none;">
                    <li>
                        <a href="https://www.facebook.com/Avenue-des-artistes-105634470862223/">
                            <span class="fa-stack fa-2x fond_vert">
                                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class=""><a href="http://www.ericdelangle.fr">Besoin d'un site ?</a></p>
                <p>Copyright ©2019 tous droits réservés</p>
              </div>
         </footer>
        <!-- Charge React -->
            <!-- Remarque : pour le déploiement, remplacez "development.js"
                par "production.min.js" -->
         <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
         <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
         <!-- fin chargement React -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <script src="{{ asset('/js/app.js') }}"></script>
         <script src="https://www.google.com/recaptcha/api.js" async defer></script>
         <script>document.getElementById('info').style.display ='none';</script> 
        {% block javascripts %}{% endblock %}
        {% if app.user %}
            <script>document.getElementById('inscription').style.display ='none';</script>
            <script>document.getElementById('connexion').style.display ='none';</script>
            <script>document.getElementById('admin').style.display ='none';</script>
        {% else %}
            <script>document.getElementById('inscription').style.display ='block';</script>
            <script>document.getElementById('connexion').style.display ='block';</script>
            <script>document.getElementById('admin').style.display ='none';</script>
            <script>document.getElementById('deconnexion').style.display ='none';</script>
            <script>document.getElementById('espace_membre').style.display ='none';</script>
            <script> 
            // apparition du message d'inscription au bout de 5 secondes

                window.onload = ()=> {
                    setTimeout(()=> {
                    document.getElementById("info").style.display = "block";
                    }, 5000);
                }
            </script>
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
            <script>document.getElementById('admin').style.display ='block';</script>
            <script>document.getElementById('map').style.display ='block';</script> 
        {% endif %} 
     
    </body>
</html>

