{% extends 'base.html.twig' %}

{% block title %}ArtisticWork{% endblock %}

{% block body %}
    <h1 class="center">Votre image</h1>
    <br>
<div class="container font">
    <table class="table">
        <tbody>
            <tr>
                <th>Nom:</th>
                <td>{{ artistic_work.name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ artistic_work.description }}</td>
            </tr>
            <tr>
                <th>Publié le:</th>
                <td>{{ artistic_work.createdAt ? artistic_work.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
               
                <td ><img src=" {{ asset(['images/artisticWorks/', artistic_work.picture]|join) }} " class="images" alt="oeuvre"></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('gallery_index', {'id': app.user.id}) }}">Retour à vos galeries</a>

    <a class="btn btn-success" href="{{ path('artistic_work_edit', {'id': artistic_work.id}) }}">Modifier ses informations</a>

    {{ include('artistic_work/_delete_form.html.twig') }}
    </div>
{% endblock %}
